body {
    font-family: 'enchanted', Trebuchet;
    font-size: larger;
    background: url(fondo-pagina.png);
    color: #808000;
    margin: 0;
    padding: 0;
    text-align: center;
}
.trazo {
    font-size: 40px; 
    color: #808000; 
    text-shadow: 
        -1px -1px 0 white,  
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white; 
}
.trazo-chiquito {
    font-size: 25px; 
    color: #808000; 
    text-shadow: 
        -1px -1px 0 white,  
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white; 
}
header {
    background: url(fondos.jpg);
    background-size: cover;
    padding: 20px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #575757;
}
.container {
    padding: 20px;
    max-width: 800px;
    margin: 2rem auto; 
    background-color: #412307; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    text-align: left;
}
.section-title {
    color: #6ea204;
    margin-top: 20px;
}
.gallery img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer {
    background: url(footer-banner.png);
    color: black;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
